<div class="content-main-inner">
	<div class="row">

		<div id="page-main-content" class="main-content col-xs-12 col-md-9">
			<div class="main-content-inner">
				{% if page.content_top %}
					<div class="content-top">
						{{ page.content_top }}
					</div>
				{% endif %}

				{% if page.content %}
					<div class="content-main">
						{{ page.content }}
					</div>
				{% endif %}

				{% if page.content_bottom %}
					<div class="content-bottom">
						{{ page.content_bottom }}
					</div>
				{% endif %}
			</div>
		</div>

		<!-- Sidebar Right -->
		<div class="sidebar sidebar-right col-lg-3 col-md-3 col-sm-12 col-xs-12">
			<div class="sidebar-inner">
				{{ page.content }}
			</div>
		</div>
		<!-- End Sidebar Right -->

	</div>
</div>
