/*
===========================================================
                        Bloque de plan de estudios
===========================================================
*/

// Plan de estudios de programa
.curriculum {
    // Título
    .mb-5 { margin-bottom: 10px !important; }

    .gsc-heading.style-default { padding-bottom: 0;}
    // Acordeon
    .panel-body {
        // Oculto todos los títulos
        .field__label { display: none; }

        .paragraph {
            @include flexbox;
            padding: 10px 0;
            border-bottom: $border_1;
            // Muestro solo los de la primer materia
            &:first-child .field__label {
                display: block;
                font-weight: bold;
                margin-bottom: 10px;
            }

            &:last-child { border-bottom: 0; }

            .field--name-field-titulo { width: 100%; }

            .field--name-field-area-de-formacion {
                @include flex-shrink(0);
                width: 30%;
            }

            .field--name-field-creditos {
                @include flex-shrink(0);
                width: 20%;
                text-align: center;
            }

            @media (max-width: $screen-xs) {
                @include flex-direction(column);

                &:first-child .field__label { margin-bottom: 0; }

                .field--label-inline .field__label {
                    display: block;
                    font-weight: bold;
                }

                .field--name-field-area-de-formacion,
                .field--name-field-creditos {
                    width: auto;
                    text-align: left;
                }
            }
        }
    }
}

/*
===========================================================
                        Fin de bloque de plan de estudio
===========================================================
*/