/*
===========================================================
                        Bloque de plan de estudios
===========================================================
*/

// Plan de estudios de programa
.curriculum {
    // Título
    .mb-5 { margin-bottom: 10px !important; }

    .gsc-heading.style-default { padding-bottom: 0;}
    // Acordeon
    .panel-body {
        // Oculto todos los títulos
        .field__label { display: none; }

        .paragraph {
            display: grid;
            padding: 10px 0;
            border-bottom: $border_1;
            grid-template-columns: 45% 20% 15% 20%;

            &::before { display: none; }

            .field { justify-self: flex-start; }

            .field--name-field-creditos {
                justify-self: center;
                .field__item { text-align: center; }
            }

            // Muestro solo los de la primer materia
            &:first-child .field__label {
                display: block;
                font-weight: bold;
                margin-bottom: 10px;
            }

            &:last-child { border-bottom: 0; }

            @media (max-width: $screen-xs-max) {
                grid-template-columns: 100%;
                grid-template-rows: auto;
                
                &:first-child .field__label { margin-bottom: 0; }

                .field { justify-self: flex-start; }

                .field--label-inline {
                    .field__label {
                        @include flex-shrink(0);
                        display: inline;
                        font-weight: bold;
    
                        &::after {
                            @include pseudo-element(inline-block, ':');
                            margin-right: 5px;
                        }
                    }

                    .field__item { display: inline; }
                }
            }
        }
    }
}

/*
===========================================================
                        Fin de bloque de plan de estudio
===========================================================
*/
