/*
===========================================================
                        Bloque para formularios
===========================================================
*/

// Contat - home
.form-contact {
    .form-contact--header {
        background: $color_1;

        &.widget.gsc-heading {
            .heading-line { display: none; }

            @media (max-width: $screen-xs) { padding: 25px 20px; }
        }
    }
    .form-contact--wrapper {
        padding: 42px;
        background: $white;

        textarea,
        input {
            @include border-radius(3px);
            height: 50px;
        }

        @media (max-width: $screen-xs) { padding: 30px 25px; }
    }
}

// Bloque de búsqueda de programa - home
#search-program {
    @include flexbox;
    @include flex-wrap(wrap);
    @include justify-content(center);
    margin-bottom: 30px;
    text-align: center;

    h3 {
        @include flex-shrink(0);
        @include size(100%);
        font-size: $font-size-h1;

        &::after {
            @include pseudo-element;
            @include size(50px, 2px);
            @include center-block;
            @include margin(top, 20px);
            @include margin(bottom, 20px);
            background: $white;
        }
    }

    input[type="text"] {
        @include size(100%, 50px);
        @include border-radius(25px);
        margin-bottom: 20px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        color: $text-color;
    }

    input[type="submit"] {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        height: 50px;
    }

    @media screen and (max-width: 648px) { .js-form-item-search { width: calc(100% - 100px) } }
    @media screen and (max-width: 400px) {
        .js-form-item-search {width: 100%; }
        input[type="text"] { @include border-radius(25px); }
        input[type="submit"] {
            @include border-radius(25px);
            @include size(50%, 50px);
        }
    }
}

// Search - global
.search-content {
    top: 52px !important;

    #search-block-form { @include flexbox; }

    @media (max-width: $screen-md) { top: 76px !important; }
    
    @media (max-width: $screen-xs) {
        top: 52px !important;
        left: calc((100vw / 1.7) * -1);
    }
}

// Contactenos - Unidad
.form-contact-unit {
    max-width: 100%;

    input[type="text"],
    input[type="email"],
    textarea {
        width: 100%;
        margin-bottom: 5px;
    }
}

/*
===========================================================
                        Fin de bloque para formularios
===========================================================
*/
