/*
===========================================================
                        Boque header
===========================================================
*/

// Topbar first
.topbar {
    // Networks
    .topbar-left {
        >div {
            @media (max-width: $screen-md) {
                float: none;
                text-align: center;
            }
        }
    }
    // Menú top
    .topbar-right {
        .right-topbar-h {
            @include flexbox;
            @include justify-content(flex-end);
        }

        @media (max-width: $screen-xs) { @include justify-content(center); }

        ul {
            &.menu_rol,
            &.gva_topbar_menu {
                @include flexbox;
                margin: 0;

                li {
                    background: none;
                    margin: 0;
                    padding: 0;

                    a {
                        color: $theme-color-rgba;
                        margin-left: 10px;
                        
                        &.active,
                        &:hover { color: darken($theme-color-rgba, 20%) }
                    }

                    a[href*="/campus-"].active { display: none; }
                }
            }
        }

        // Menu hamburguesa
        .menu-bartop {
            @include flexbox;
            @include size(36px, 32px);
            @include flex-direction(column);
            @include justify-content(space-between);
            cursor: pointer;
            padding: 5px;

            span {
                @include size(24px, 2px);
                @include transition(all .5s);
                display: block;
                background: $theme-color-rgba;
            }
        }

        @media (max-width: $screen-sm-max) {
            & {
                @include flexbox;
                @include justify-content(flex-end);
            }

            .right-topbar-h {
                @include position(fixed, top 0 left -100%);
                @include size(100%, 100vh);
                @include transition(all .5s);
                @include flex-direction(column);
                @include justify-content(flex-start);
                max-width: 350px;
                background: $color_3;
                z-index: 999;
                overflow: scroll;

                .topbar-close {
                    color: $theme-color-rgba;
                    text-align: center;
                    padding: 15px 0;
                    border-bottom: 1px solid rgba($theme-color-rgba, .1);

                    i { font-size: 24px; }
                }

                .block-uniagustiniana {
                    @include size(100%);
                    padding: 30px 20px 0;
                    padding-bottom: 0;
                    margin: 0;
                }

                .gva_topbar_menu {
                    @include size(100%);
                    padding: 20px;
                    padding-top: 0;

                    li:last-child a { border-bottom: 0; }
                }

                .menu_rol,
                .gva_topbar_menu {
                    @include flex-direction(column);

                    li {
                        @include size(100%);
                        margin: 0;
    
                        a {
                            display: block;
                            text-transform: uppercase;
                            font-weight: 700;
                            padding-bottom: 8px;
                            margin-bottom: 8px;
                            border-bottom: 1px solid rgba($theme-color-rgba, .1);
                        }
                    }
                }
            }

            &.is--open {
                .right-topbar-h {
                    left: 0;
                }

                .menu-bartop {
                    .one {
                        @include rotate(225deg);
                        @include transform-origin(15px, 5px);
                    }

                    .two { opacity: 0; }

                    .three {
                        @include rotate(-225deg);
                        @include transform-origin(15px, -4px);
                    }
                }
            }
        }
    }
}

.col-lg-9.p-static {
    @media screen and (min-width: $screen-md-min){
        margin-top: 15px;
    }
}

// Header (Logo y menú principal)
.menu--main {
    .menu_rol {
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }

    .gva_menu {

        > li > a {
            letter-spacing: normal;
            padding: {
                left: 5px;
                right: 5px;
            }
    
            span{
                @include absolute(left 50%);
                @include translateX(-50%);
            }
        }

        @media (max-width: $screen-md) {
            .menu-item--expanded  .icaret {
                left: auto;
                right: 0;
            }
        }
    }
}

nav[class*="menu--main-navigation"] .gva_menu{
    > .menu-item--expanded > a {
        letter-spacing: normal;
        &::after {
            @include absolute(left 50% bottom 15px);
            @include square(7px);
            @include translateX(-50%);
            background: svg(arrow-down);
            display: inline-block;
            content: "";
        }
    }
}

/*
===========================================================
                        Fin de bloque header
===========================================================
*/
