/*
===========================================================
                        Bloque de tabs horizontales en página de facultad
===========================================================
*/
#facultad-horizontal-tabs { // Id para sobre escribir
    .resp-tab-item,
    .resp-tab-content {
        border: 0;
    }
    // Tabs
    .resp-tabs-list {
        display: block !important;
        overflow: hidden;
        padding: 2px;

        li {
            @include box-shadow(0 1px 6px rgba($black, 0.1));
            border: 0 !important;
            margin-right: 20px;
            background: $white;
            font-size: 12px;
            padding: 8px 30px !important;
            text-transform: uppercase;

            &:hover {
                background: $color_4;
                color: $theme_color;
            }

            &.resp-tab-active {
                background: $white;
                color: $theme_color;
            }

            @media screen and (max-width: $screen-xs-max) {
                margin: 0 !important;
                box-shadow: none;
            }
        }

        @media screen and (max-width: $screen-xs-max) {
            @include box-shadow(0 1px 6px rgba($black, 0.1));
            padding: 10px 0;
        }
    }
    // Content
    .resp-tabs-container {
        margin-top: 15px;

        .resp-tab-content {
            @include box-shadow(0 1px 6px rgba($black, 0.1));
            @include transition(opacity .50s linear);
            opacity: 0;
            padding: 30px;

            &.resp-tab-content-active { opacity: 1; }
        }
    }

    // Modo acordeon en móviles
    @media screen and (max-width: $screen-xs-max) { .resp-accordion { display: none; } }
}

#block-programasdefacultad {
    .tab-pane a[href*="/group/"] {
        font-weight: bold;
        text-transform: uppercase;

        &.btn {
            padding: 4px 15px 4px;
        }
    }
}
/*
===========================================================
                        Fin Bloque de tabs horizontales en página de facultad
===========================================================
*/
