@import "../variables";
@import "../mixins";
// Contat
.form-contact {
    .form-contact--header {
        background: $color_1;

        &.widget.gsc-heading {
            .heading-line { display: none; }

            @media (max-width: $screen-xs) { padding: 25px 20px; }
        }
    }
    .form-contact--wrapper {
        padding: 42px;
        background: $white;
        textarea,
        
        input {
            @include border-radius(3px);
            height: 50px;
        }

        @media (max-width: $screen-xs) { padding: 30px 25px; }
    }
}

// Search
.search-content {
    top: 52px !important;

    .search-form { @include flexbox; }

    @media (max-width: $screen-md) { top: 76px !important; }
    
    @media (max-width: $screen-xs) {
        top: 52px !important;
        left: calc((100vw / 1.7) * -1);
    }
}
