<div class="post-block">
  <div class="post-image">
    {{ fields.field_course_images.content }}
  </div>
  <div class="post-content">
    <div class="post-title">
      {{ fields.title.content }}
    </div>
    <div class="post-meta">
      <span class="post-created">{{ fields.field_inicio.content|striptags|trim }}</span>
    </div>
  </div>
</div>
