/*
===========================================================
                        Custom variables
===========================================================
*/
:root {
  --multiplier: 2;
}

@media (max-width: 768px) {
  :root {
    --multiplier: 1;
  }
}
/****/
/*
===========================================================
                        Custom mixins
===========================================================
*/
/*
* @function
* @return path img + img
*/
/*
* @mixin: links
* @description: links styles
*/
/*
* @mixin: Center with flexbox
*/
/*
* @mixin: Flex direction
*/
/*
* @mixin: Focus totally
*/
.curriculum .mb-5 {
  margin-bottom: 10px !important;
}
.curriculum .gsc-heading.style-default {
  padding-bottom: 0;
}
.curriculum .panel-body .field--label-inline .field__label {
  display: none;
}
.curriculum .panel-body .paragraph {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0;
  border-bottom: 1px dashed #969696;
}
.curriculum .panel-body .paragraph:first-child .field--label-inline .field__label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}
.curriculum .panel-body .paragraph:last-child {
  border-bottom: 0;
}
.curriculum .panel-body .paragraph .field--name-field-titulo {
  width: 90%;
}
.curriculum .panel-body .paragraph .field--name-field-creditos {
  width: 10%;
  text-align: center;
}
@media (max-width: 480px) {
  .curriculum .panel-body .paragraph:first-child .field--name-field-creditos {
    display: block;
  }
  .curriculum .panel-body .paragraph:first-child .field--name-field-creditos .field__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 70%;
  }
  .curriculum .panel-body .paragraph .field--name-field-titulo {
    width: 76%;
  }
  .curriculum .panel-body .paragraph .field--name-field-creditos {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    width: 24%;
  }
}
