/*
===========================================================
                        Custom variables
===========================================================
*/
:root {
  --multiplier: 2;
}

@media (max-width: 768px) {
  :root {
    --multiplier: 1;
  }
}
/****/
/*
===========================================================
                        Custom mixins
===========================================================
*/
/*
* @function
* @return path img + img
*/
/*
* @mixin: links
* @description: links styles
*/
/*
* @mixin: Center with flexbox
*/
/*
* @mixin: Flex direction
*/
/*
* @mixin: Focus totally
*/
/*
* @mixin: Init pseudo elemento
*/
/*
===========================================================
                        File block - ECK ENTITY
===========================================================
*/
.eck-entity .field--type-string,
.eck-entity .field--type-entity-reference .field__label,
.eck-entity .field--type-file .field__label {
  font-weight: bold;
}
.eck-entity .field--type-file {
  margin-top: 10px;
}
.eck-entity .field__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 10px;
}
@media screen and (max-width: 470px) {
  .eck-entity .field__items {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.eck-entity .field__items a {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  width: 200px;
  height: auto;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -webkit-box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.09);
  box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.09);
  position: relative;
  display: block;
  color: #252525;
  overflow: hidden;
  padding: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}
@media screen and (max-width: 470px) {
  .eck-entity .field__items a {
    width: 100%;
    margin-bottom: 10px;
  }
}
.eck-entity .field__items a::before {
  width: 25px;
  height: 30px;
  display: block;
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.lt-ie8 .eck-entity .field__items a::before {
  display: inline;
  zoom: 1;
}
.eck-entity .field__items a::after {
  top: -40%;
  left: 50%;
  position: absolute;
  display: block;
  content: "";
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  z-index: -1;
  background: url("../images/svg/download.svg") no-repeat center/contain;
}
.eck-entity .field__items a:hover {
  -webkit-box-shadow: 0px 4px 26px 3px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 4px 26px 3px rgba(0, 0, 0, 0.09);
}
.eck-entity .field__items a:hover::after {
  top: 50%;
}
.eck-entity .file--application-pdf a::before {
  background: url("../images/svg/pdf.svg") no-repeat center/contain;
}
.eck-entity .file--x-office-spreadsheet a::before {
  background: url("../images/svg/excel.svg") no-repeat center/contain;
}
.eck-entity .file--x-office-document a::before {
  background: url("../images/svg/doc.svg") no-repeat center/contain;
}

/*
===========================================================
                        End File block - ECK ENTITY
===========================================================
*/
