/*
===========================================================
                        Custom variables
===========================================================
*/
:root {
  --multiplier: 2;
}

@media (max-width: 768px) {
  :root {
    --multiplier: 1;
  }
}
/****/
/*
===========================================================
                        Custom mixins
===========================================================
*/
/*
* @function
* @return path img + img
*/
/*
* @mixin: links
* @description: links styles
*/
/*
* @mixin: Center with flexbox
*/
/*
* @mixin: Flex direction
*/
/*
* @mixin: Focus totally
*/
/*
* @mixin: Init pseudo elemento
*/
/*
===========================================================
                        Forms block
===========================================================
*/
.form-contact .form-contact--header {
  background: #3D99F1;
}
.form-contact .form-contact--header.widget.gsc-heading .heading-line {
  display: none;
}
@media (max-width: 480px) {
  .form-contact .form-contact--header.widget.gsc-heading {
    padding: 25px 20px;
  }
}
.form-contact .form-contact--wrapper {
  padding: 42px;
  background: #fff;
}
.form-contact .form-contact--wrapper textarea,
.form-contact .form-contact--wrapper input {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  height: 50px;
}
@media (max-width: 480px) {
  .form-contact .form-contact--wrapper {
    padding: 30px 25px;
  }
}

.search-content {
  top: 52px !important;
}
.search-content .search-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 992px) {
  .search-content {
    top: 76px !important;
  }
}
@media (max-width: 480px) {
  .search-content {
    top: 52px !important;
    left: calc((100vw / 1.7) * -1);
  }
}

/*
===========================================================
                        End Forms block
===========================================================
*/
