// Contenedor principal del directorio
#org-chart-canvas {
  @include size(100%);
  max-width: 1000px;
  margin: 0 auto;
}
// Header
.header-char-directory {
  @include box-shadow(0 0 5px 2px rgba($theme-color, .4));
  padding: 50px 2%;
  background: $theme-color;
  // Formulario de busqueda
  .directory-form {
    @include size(100%);
    max-width: 800px;
    margin: 0 auto;
    // Titulo y subtitulo
    &__title,
    &__subtitle {
      font-size: 16px;
      color: $white;
      line-height: 20px;
    }
    // Título
    &__title {
      font-weight: bold;
    }
    // Buscador
    &__search {
      @include position(relative, null);
      margin-top: 30px;
      // Input
      input {
        @include size(100%);
        @include border-radius(5px);
      }
      // Submit
      button {
        @include absolute(top 0 right 0);
        @include size(45px, 100%);
        @include border-radius(5px);
        @include appearance;
        font-size: 20px;
        color: $theme-color;
        border: none;
        background: $white;
      }
    }
  }
}

// Resultados

.org-results {
  max-width: 920px;
  margin: 0 auto;
  width: 100%;

  .results-list {
    @include clear-list;

    &__item {
      @include flexbox;
      @include justify-content(space-between);
      padding: {
        top: 40px;
        bottom: 40px;
        left: 20px;
      }
      border-bottom: 1px solid $theme-color;

      p {
         @include font-size(font-size, 16px);
      }

      &:last-child {
        border-bottom: none;
      }

      .main-data,
      .profile-image {
        @include flex-shrink(0);
        @include flex-basis(270px);
        @include size(100%);
      }

      .main-data {
        h3 {
          @include font-size(font-size, 18px);
          margin: 0;
        }

        > p {
          color: $theme-color;
        }

        > div {
          @include flexbox;
          @include align-items(center);

          img {
            @include size(18px);
            margin-right: 5px;
          }

          p {
            @include font-size(font-size, 14px);
            margin-bottom: 20px;
          }
        }

        > a {
          color: $theme-color;
          font-weight: bold;
        }
      }

      .description {
        line-height: 21px;
        padding: {
          left: 20px;
          right: 20px;
        }
      }

      .profile-image {
        @include position(relative, 0);

        p {
          @include absolute(bottom 0 left 0);
          @include size(90%);
          @include border-radius(5px);
          font-weight: bold;
          color: $white;
          padding: 5px;
          background-color: $theme-color;
        }
      }
    }
  }
}
