// Contenedor principal del directorio
#org-chart-canvas {
  margin: 20px auto;
}

.org-chart-section {
  @include size(100%);
  max-width: 1000px;
  margin: 0 auto;
}
// Header
.header-char-directory {
  @include position(relative, 0);
  @include box-shadow(0 0 8px 2px rgba($theme-color, .4));
  max-width: 1010px;
  margin: 0 auto;

  .search-top {
    padding: 50px 2%;
    background: $theme-color;

    @media (max-width: $screen-sm) {
      padding: 30px 8%;
    }

    // Formulario de busqueda
    .directory-form {
      @include size(100%);
      max-width: 800px;
      margin: 0 auto;

      // Titulo y subtitulo
      &__title,
      &__subtitle {
        font-size: 16px;
        color: $white;
        line-height: 20px;
      }

      // Título
      &__title {
        font-weight: bold;
      }

      // Buscador
      &__search {
        @include position(relative, null);
        margin-top: 30px;

        // Input
        input {
          @include size(100%);
          @include border-radius(5px);
        }

        // Submit
        button {
          @include absolute(top 0 right 0);
          @include size(45px, 100%);
          @include border-radius(5px);
          @include appearance;
          font-size: 20px;
          color: $theme-color;
          border: none;
          background: $white;
        }
      }
    }
  }

  .search-bottom {
    @include position(relative, 0);
    padding: 20px 2% 0;
    border: 1px solid $theme-color;
    background: $white;
    z-index: 1;

    .content-word {
      max-width: 720px;
      margin: 0 auto;
      text-align: center;

      p {
        color: $theme-color;
        font-weight: bold;
      }

      hr {
        margin: {
          top: 8px;
          bottom: 35px;
        };
        border-color: $theme-color;

        @media (max-width: $screen-sm) {
          margin-bottom: 30px;
        }
      }
    }

    &::after {
      @extend %rrow-search;
    }
  }

  &::before {
    @include box-shadow(0 0 8px 2px rgba($theme-color, .4));
    @extend %rrow-search;
    z-index: 0;
    bottom: -14px;
  }
}

// Vista principal del organigrama
.org-chart-main {
  .org-draw {
    @include flex-wrap(wrap);
    @include justify-content(center);
    @include flexbox;
    list-style: none;
    margin-top: 70px;
    padding: 0;

    .item-superior {
      max-width: 500px;

      img {
        @extend %img-size;
        max-height: 190px;
      }

      h2 {
        @include position_directory($color_7, 18px, 12px);
      }

      &__item::after {
        @extend %vertical-line;
        @include size(4px, 40px);
        margin: 0 auto;

      }
    }

    .item-secondary {
      @include flexbox;
      @include flex-wrap(wrap);
      @include justify-content(center);

      .perfil-item {
        @include flexbox;
        @include flex-basis(315px);
        @include justify-content(center);
        @include align-items(flex-start);

        @media (max-width: $screen-sm) {
          @include flex-basis(100%);
        }

        .wrapper-item {
          background-color: $white;
        }

        &.main {
          .perfil-img .watch-team {
            left: auto;
            right: 20px;
          }

          .perfil-area {
            @include position_directory($color_8, 16px, 12px);
            text-transform: uppercase;
          }
        }

        &.with-raya {
          @include position(relative, 0);
          margin-bottom: 50px;

          @media (max-width: $screen-sm) {
            margin-bottom: 20px;
          }

          .perfil-area {
            @include position_directory($theme-color, 16px, 10px);

            &--orange {
              background-color: $color_9;
            }
          }

          &::before {
            @extend %vertical-line;
            @include absolute(top 50% left 99%);
            @include size(24%, 4px);

            @media (max-width: $screen-sm) {
              display: none;
            }
          }

          &:nth-child(2n + 2)::before {
            left: auto;
            right: 99%;
          }
        }

        .perfil-img {
          @include position(relative, 0);
          @include flexbox;
          @include size(315px, 206px);
          @include justify-content(center);
          @include align-items(center);

          img {
            @extend %img-size;
          }

          .watch-team {
            @include absolute(bottom 15px left 30px);
            @include border-radius(50px);
            display: block;
            color: $white;
            padding: 2px 18px;
            background: $color_8;

            @media (max-width: $screen-sm) {
              left: 15px;
              bottom: 10px;
            }
          }
        }
      }

      .level-2 {
        @include position(relative, 0);
        @include flexbox;
        @include flex-wrap(wrap);
        @include justify-content(space-between);
        @include size(100%);
        padding: {
          left: 0;
          top: 80px;
        }
        max-width: 775px;
        list-style: none;

        &::before {
          @extend %vertical-line;
          @include absolute(top 0 left 50%);
          @include translateX(-50%);
          @include size(4px, calc(100% - 170px));
        }
      }
    }
  }
}

// Interna usuario
.ut-org-subchart-draw {
  padding: 0;
  list-style: none;

  .perfil-item {
    align-self: flex-start;
    width: 100%;

    .wrapper-item {
      @include flexbox;
      @include flex-wrap(wrap);
      @include box-shadow(0 0 10px 0px rgba($black, .3));
      overflow: hidden;
      background-color: $white;
    }

    &.main {
      max-width: 800px;
      margin: 0 auto 65px;

      .wrapper-item {
        @include justify-content(space-between);

        .item-data {
          padding: 30px;
          padding-right: 0;
        }

        .item-data,
        .description {
          @include size(calc((100% - 340px) / 2));
        }

        .item-data__area {
          @include flex-shrink(0);
          @include flex-basis(100%);
        }

        .perfil-img {
          @include size(340px, 250px);

          img {
            @extend %img-size;
          }
        }
      }

      h2 {
        @include position_directory($color_8, 16px, 12px);
        text-transform: uppercase;
      }
    }

    &.with-raya {
      align-self: flex-start;
      max-width: 500px;

      .wrapper-item {
        .item-data {
          padding: {
            top: 15px;
            bottom: 10px;
            left: 15px;
          }
        }

        > div {
          @include size(50%, 200px);
        }

        .item-data__area {
          @include flex-shrink(0);
          @include flex-basis(100%);
        }
      }

      h2 {
        @include position_directory($color_9, 16px, 10px);
      }

      // &:nth-child(2n + 1) {
      //   margin-top: -5px;
      // }

      &:nth-child(2n + 2) {
        margin-top: 120px;
      }
    }

    .item-data {
      @include flexbox;
      @include flex-direction(column);
      @include align-items(flex-start);
      word-break: break-all;

      &__nombre {
        @include font-size(font-size, 18px);
        margin: 0;
      }

      &__cargo {
        color: $theme-color;
        line-height: 20px;
      }

      &__content {
        @include flexbox;
        @include align-items(center);

        img {
          @include size(18px);
          margin-right: 5px;
        }

        p {
          @include font-size(font-size, 14px);
        }

        &--area {
          line-height: 18px;
        }
      }

      &__email {
        color: $theme-color;
        font-weight: bold;
        line-height: 18px;
      }

      .watch-team {
        padding: 0 10px;
        text-transform: none;
        font-weight: normal;
        margin-top: 10px;
      }
    }

    .description {
      line-height: 21px;
      padding: 30px 20px;
    }

    .perfil-img {
      @include position(relative, 0);
      @include flexbox;
      @include justify-content(center);
      @include align-items(center);

      img {
        @extend %img-size;
      }
    }
  }

  ul {
    @include flexbox;
    @include flex-wrap(wrap);
    @include justify-content(space-between);
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

// Resultados
.org-results {
  max-width: 920px;
  margin: 0 auto;
  width: 100%;

  .results-list {
    @include clear-list;

    &__item {
      @include flexbox;
      @include justify-content(space-between);
      padding: {
        top: 40px;
        bottom: 40px;
        left: 20px;
      }
      border-bottom: 1px solid $theme-color;

      p {
         @include font-size(font-size, 16px);
      }

      &:last-child {
        border-bottom: none;
      }

      .main-data,
      .profile-image {
        @include flex-shrink(0);
        @include flex-basis(270px);
        @include size(100%);
      }

      .main-data {
        &__nombre {
          @include font-size(font-size, 18px);
          margin: 0;
        }

        &__cargo {
          color: $theme-color;
          line-height: 20px;
          margin-bottom: 10px;
        }

        &__content {
          @include flexbox;
          @include align-items(center);

          img {
            @include size(18px);
            margin-right: 5px;
          }

          p {
            @include font-size(font-size, 14px);
          }

          &--area {
            margin-bottom: 5px;
            line-height: 20px;
          }

          &--phone {
            margin-bottom: 20px;
          }
        }

        &__email {
          color: $theme-color;
          font-weight: bold;
        }
      }

      .description {
        line-height: 21px;
        padding: {
          left: 20px;
          right: 20px;
        }
      }

      .profile-image {
        @include position(relative, 0);
        @include flexbox;
        @include justify-content(center);
        @include align-items(center);

        img {
          @extend %img-size;
        }

        p {
          @include absolute(bottom 0 left 0);
          @include size(90%);
          @include border-radius(5px);
          line-height: 20px;
          font-weight: bold;
          color: $white;
          padding: 5px;
          background-color: $theme-color;
        }
      }
    }
  }
}
