// Contenedor principal del directorio
#org-chart-canvas {
  @include size(100%);
  max-width: 1000px;
  margin: 20px auto;
}
// Header
.header-char-directory {
  @include position(relative, 0);
  @include box-shadow(0 0 8px 2px rgba($theme-color, .4));

  .search-top {
    padding: 50px 2%;
    background: $theme-color;

    // Formulario de busqueda
    .directory-form {
      @include size(100%);
      max-width: 800px;
      margin: 0 auto;

      // Titulo y subtitulo
      &__title,
      &__subtitle {
        font-size: 16px;
        color: $white;
        line-height: 20px;
      }

      // Título
      &__title {
        font-weight: bold;
      }

      // Buscador
      &__search {
        @include position(relative, null);
        margin-top: 30px;

        // Input
        input {
          @include size(100%);
          @include border-radius(5px);
        }

        // Submit
        button {
          @include absolute(top 0 right 0);
          @include size(45px, 100%);
          @include border-radius(5px);
          @include appearance;
          font-size: 20px;
          color: $theme-color;
          border: none;
          background: $white;
        }
      }
    }
  }

  .search-bottom {
    @include position(relative, 0);
    padding: 20px 2% 0;
    border: 1px solid $theme-color;
    background: $white;
    z-index: 1;

    .content-word {
      max-width: 720px;
      margin: 0 auto;
      text-align: center;

      p {
        color: $theme-color;
        font-weight: bold;
      }

      hr {
        margin: {
          top: 8px;
          bottom: 35px;
        };
        border-color: $theme-color;
      }
    }

    &::after {
      @extend %rrow-search;
    }
  }

  &::before {
    @include box-shadow(0 0 8px 2px rgba($theme-color, .4));
    @extend %rrow-search;
    z-index: 0;
    bottom: -14px;
  }
}

// Vista principal del organigrama
.org-chart-main {
  .org-draw {
    @include flex-wrap(wrap);
    @include justify-content(center);
    @include flexbox;
    list-style: none;
    margin-top: 70px;
    padding: 0;

    .item-superior {
      max-width: 500px;

      img {
        max-height: 190px;
      }

      h2 {
        @include position_directory($color_7, 18px, 12px);
      }

      &__item::after {
        @extend %vertical-line;
        @include size(4px, 40px);
        margin: 0 auto;

      }
    }

    .item-secondary {
      @include flexbox;
      @include flex-wrap(wrap);
      @include justify-content(center);

      .perfil-item {
        @include flexbox;
        @include flex-basis(315px);
        @include justify-content(center);
        @include align-items(flex-start);

        h2 {
          @include position_directory($theme-color, 16px, 10px);
        }

        &.main {
          .perfil-img .watch-team {
            left: auto;
            right: 20px;
          }

          h2 {
            @include position_directory($color_8, 16px, 12px);
            text-transform: uppercase;
          }
        }

        &.with-raya {
          @include position(relative, 0);
          margin-bottom: 50px;

          &:nth-last-child(1),
          &:nth-last-child(2) {
            margin: 0;
          }

          &::before {
            @extend %vertical-line;
            @include absolute(top 50% left 95%);
            @include size(180px, 4px);
          }

          &:nth-child(2n + 2)::before {
            display: none;
          }
        }

        .perfil-img {
          @include position(relative, 0);

          .watch-team {
            @include absolute(bottom 15px left 30px);
            @include border-radius(50px);
            display: block;
            color: $white;
            padding: 2px 18px;
            background: $color_8;
          }
        }
      }

      .level-2 {
        @include position(relative, 0);
        @include flexbox;
        @include flex-wrap(wrap);
        @include justify-content(space-between);
        padding: {
          left: 0;
          top: 80px;
        }
        max-width: 775px;
        list-style: none;

        &::before {
          @extend %vertical-line;
          @include absolute(top 0 left 50%);
          @include translateX(-50%);
          @include size(4px, calc(100% - 120px));
        }
      }
    }
  }
}

// Resultados
.org-results {
  max-width: 920px;
  margin: 0 auto;
  width: 100%;

  .results-list {
    @include clear-list;

    &__item {
      @include flexbox;
      @include justify-content(space-between);
      padding: {
        top: 40px;
        bottom: 40px;
        left: 20px;
      }
      border-bottom: 1px solid $theme-color;

      p {
         @include font-size(font-size, 16px);
      }

      &:last-child {
        border-bottom: none;
      }

      .main-data,
      .profile-image {
        @include flex-shrink(0);
        @include flex-basis(270px);
        @include size(100%);
      }

      .main-data {
        &__nombre {
          @include font-size(font-size, 18px);
          margin: 0;
        }

        &__cargo {
          color: $theme-color;
          line-height: 20px;
          margin-bottom: 10px;
        }

        &__content {
          @include flexbox;
          @include align-items(center);

          img {
            @include size(18px);
            margin-right: 5px;
          }

          p {
            @include font-size(font-size, 14px);
          }

          &--area {
            margin-bottom: 5px;
            line-height: 20px;
          }

          &--phone {
            margin-bottom: 20px;
          }
        }

        &__email {
          color: $theme-color;
          font-weight: bold;
        }
      }

      .description {
        line-height: 21px;
        padding: {
          left: 20px;
          right: 20px;
        }
      }

      .profile-image {
        @include position(relative, 0);

        p {
          @include absolute(bottom 0 left 0);
          @include size(90%);
          @include border-radius(5px);
          line-height: 20px;
          font-weight: bold;
          color: $white;
          padding: 5px;
          background-color: $theme-color;
        }
      }
    }
  }
}
