/*
===========================================================
                        Página de noticias
===========================================================
*/
.node--type-news {
    .new-main-image {
        max-width: 770px;
    }

    @media screen and (min-width: $screen-md-min) {
        .main-content { width: 68%; }
        .sidebar-right { width: 32%; }
    }
}
/*
===========================================================
                        Fin de página de noticias
===========================================================
*/