/*
===========================================================
                        Página de cursos
===========================================================
*/

.financiacion {
  &__title {
    h3 {
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    @media screen and (max-width: $screen-xs-max) {
      padding-left: 0;
    }
  }

  &-content {
    border: 1px solid rgba(0,0,0,.1);
    margin-bottom: 30px;
    padding: {
      top: 20px;
      bottom:  5px;
    }

    &__title {
      margin: {
        top: 0;
        bottom: 5px;
      }
    }

    &__description {
      @include position(relative, 0);
      font-size: 12px;
      z-index: 2;
    }

    &__financieras .field {
      @include flexbox;
      @include justify-content(flex-start);
      @include flex-wrap(wrap);
      font-weight: bold;

      &__item {
        @include position(relative, 0);
        padding: {
          left: 10px;
          right: 10px;
        }

        &::after {
          @include position(absolute, top 5px right 0);
          @include size(1px, 15px);
          background: $text-color;
          display: block;
          content: '';
        }

        &:last-child::after {
          display: none;
        }

        &:first-child::before {
          @include position(absolute, top 10px left 0);
          @include square(5px);
          @include border-radius(50%);
          background: $text-color;
          display: block;
          content: '';
        }
      }
    }

    &::before {
      @include position(absolute, top 50px left -15px);
      @include square(30px);
      @include rotate(45deg);
      border-bottom: 1px solid rgba(0, 0, 0, .1);
      border-left: 1px solid rgba(0, 0, 0, .1);
      background: white;
      display: block;
      content: '';
    }

    @media screen and (max-width: $screen-xs-max) {
      &::before {
        display: none;
      }
    }
  }

  @media screen and (max-width: $screen-xs-max) {
    margin: 0;
  }
}

/*
===========================================================
                        Página de curos
===========================================================
*/
