/*
===========================================================
                        página de resultados - Categoría
===========================================================
*/
// Filtros
.js-form-item-search-api-fulltext {
    input[type="text"] { height: 36px; }

    @media screen and(max-width: 400px) { padding: 0; }
}
// Resultados
.content-results {
    > header {
        margin-bottom: 10px;
        font-weight: bold;
    }
}

/*
===========================================================
                        Fin de página de resultados - Categoría
===========================================================
*/
