/*
===========================================================
                        Página principal - Home
===========================================================
*/

// Landing del home parte izquierda (sin formulario)
.landing-home {
    .landing_faculties--title.widget.gsc-heading {
        padding: 40px 0 0;

        .title { padding: 0; }
        
        .heading-line { @include size(100%, 1px); }
    }
    .landing_faculties {
        padding: 0 20px;

        .content-inner {
            @include margin(bottom, 10px);
            border: 1px solid $white;
            min-height: auto;
            padding: 18px;
        }

        .item:last-child {
            @include center-block;
            float: none;
            clear: both;
        }

        @media (max-width: $screen-lg) { padding: 0; }
    }
}

/*
===========================================================
                        Fin de página principal - Home
===========================================================
*/