/*
===========================================================
                        Página interna de programa
===========================================================
*/

// Landing de programa - imagen principal
.program-landing {
    @include position(relative, 0);
    width: 100vw;
    margin-left: calc(((100vw - 100%) / 2) * -1);

    .gsc-column { padding: 0; }

    .field--name-field-imagen {
        @include position(relative, 0);

        &::after {
            @include absolute(top 0 left 0);
            @include square(100%);
            @include pseudo-element;
            background: rgba(254, 184, 0, 0.5);
        }
    }

    .content-on-image {
        @include absolute(top 50% left 50%);
        @include translate(-50%, -50%);
        color: darken($theme_color, 50%);
        margin: 0;

        .field--name-label {
            font-size: 40px;
            font-weight: bold;
        }
    }
}

// Bloque de requisitos de programa
.characteristics-and-profile {
    .field__label {
        font-weight: bold;
        margin: 10px 0;
        color: $color_2;
    }

    .characteristics {
        .field--label-inline {
            @include flexbox;
            @include align-items(center);
            @include flex-wrap(wrap);
            margin-bottom: 10px;

            .field__label {
                margin: 0;
                margin-right: 5px;
            }
        }
    }

    @media screen and (max-width: $screen-xs-max) { padding: 0; }
}
// Bloque de requisitos del programa
.program-requirements {
    .field--name-field-titulo { font-weight: bold; }
    .paragraph--type-requisitos-de-ingreso { text-align: left; }
}
// Bloque con imagen de fondo
.block-believe-inyou {
    @include size(100vw);
    margin-left: calc(((100vw - 100%) / 2) * -1);

    .content {
        position: relative;
        z-index: 2;
    }
}

/*
===========================================================
                        Fin de página interna de programa
===========================================================
*/
