@import "../variables";
@import "../mixins";

/*
===========================================================
                        Units pages
===========================================================
*/

// Menu main
.unidad-menu-principal {
    .gva-menu--units {
        @include flexbox;
        @include justify-content(center);
        @include flex-wrap(wrap);
        @include clear-list;
        margin-bottom: 50px;
        a {
            @include links;
        }
        @media (max-width: $screen-xs-max) {
            margin-bottom: 30px;
        }
    }
}

// Second menu
.unidad-menu-secundario {
    header {
        overflow: hidden;
    }
    .item {
        border-bottom: 1px dashed $border-color;
        a {
            @include links;
            text-align: left;
            padding-left: 0;
            padding-right: 0;
        }
    }
}

// Block gray menu
.menu-block-unit .row-wrapper {
    @include flexbox;
    // 768px
    @media (max-width: $screen-sm) {
        @include flex-direction(column)
    }

    .gsc-column {
        &:first-child {
            @include flexbox;
            @include center-content;
            // 768px
            @media (max-width: $screen-sm) { margin-bottom: 20px; }
        }

        &:last-child>.column-inner { height: 100%; }
    }
    // Menú
    ul {
        @include size(100%, auto);

        a {
            color: darken($color_1, 30%);

            &:hover { color: lighten($color_1, 10%); }
            
            &::after {
                @include inline-block;
                @include size(20px, 10px);
                background: svg(arrow-right);
                content: '';
            }
        }
    }
}


/*
===========================================================
                    End Units page
===========================================================
*/
