<!-- Search form -->
<div class="header-char-directory">
  <div class="search-top">
    <form class="directory-form" id="org-search-form">
      <p class="directory-form__title">Estas viendo: Organigrama</p>
      <p class="directory-form__subtitle">Si deseas ver una búsqueda
        personalizada
        escribe en el campo de abajo</p>
      <div class="directory-form__search">
        <input type="text" class="directory-form__search-input"
          name="org-search-term" placeholder="Buscar" />
        <button class="directory-form__search-submit fa fa-search"
          type="submit"></button>
      </div>
    </form>
  </div>
  <div class="search-bottom">
    <div class="content-word">
      <hr>
    </div>
  </div>
</div>
