<!-- Search form -->
<div class="wrapper-org-search-form">
	<form id="org-search-form">
			<div class="search-box">
					<div class="form-item">
						<input type="text" class="form-text" name="org-search-term" placeholder="Nombre, Ãrea, Cargo, Ciudad"/>
					</div>
					<div class="form-actions">
						<button class="form-submit" type="submit">Buscar</button>
					</div>
				</div>
	</form>
</div>
