/*
===========================================================
                        Estilos globales
===========================================================
*/

// Global styles
.container-bg { margin-bottom: 40px; }

// Breadcrumbs
.gva-block-breadcrumb .breadcrumb-style { background-size: cover; }

// Redes sociales
.field--name-dynamic-block-fieldnode-redes-sociales { margin: 2rem 0; }

// Images
.img-rounded img { @include border-radius(5px); }

// Carousel
.owl-carousel .owl-item {
    // 768px
    @media (max-width: 767px) {
        text-align: center;
    }
}

.live-chat {
    @include position(fixed, bottom 20px right 20px);
    @include border-radius(5px 5px 1px 1px);
    overflow: hidden;
    z-index: 2;
}

.widget.gsc-icon-box .highlight_content .title {
    text-transform: none;
}

// Enlace temporal
.field--name-field-enlace-a-siga a {
    background: $theme-color;
    color: $white;
    overflow: hidden;
    @include transition(all 0.3s);
    @include border-radius(30px);
    font-family: $font-second;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 8px 22px 8px;
    position: relative;
    display: inline-block;
    z-index: 1;
    @include box-shadow(0px 5px 10px 0px rgba(0, 0, 0, 0.1));
    border: 1px solid $theme-color;

    &:hover,
    &:focus,
    &:active,
    &.active {
      color: $theme-color;
      background: $white;
    }

    .button--inverted {
      background: none;
      color: #fff;
    }
}

// Global margins and paddings for top and bottom
@each $number in $numbers {
    // Pixels
    .mt-#{ $number } {
        @include margin(top, calc(#{ $number }px * #{ var(--multiplier) }))
    }
    .mb-#{ $number } {
        @include margin(bottom, calc(#{ $number }px * #{ var(--multiplier) }));
    }
    .pt-#{ $number } {
        @include padding(bottom, calc(#{ $number }px * #{ var(--multiplier) }));
    }
    .pb-#{ $number } {
        @include padding(top, calc(#{ $number }px * #{ var(--multiplier) }))
    }
    // Percentage
    .mr-#{ $number } {
        @include margin(right, calc(#{ $number }% * 1));
    }
    .ml-#{ $number } {
        @include margin(left, calc(#{ $number }% * 1));
    }
    .pr-#{ $number } {
        @include padding(right, calc(#{ $number }% * 1));
    }
    .pl-#{ $number } {
        @include padding(left, calc(#{ $number }% * 1));
    }
}
