////
/// @access public
/// @author William Bautista
////


/// Crear ruta a una imagen en formato svg
/// @parameter {string} $img - Nombre de la imagen (sin extensión)
/// @returns {string} - ubicación de imagen svg
@function svg($img) {
    @return url($svg+$img+'.svg') no-repeat center / contain;
}

/// Alinear elementos verticalmente cuando su contenedor es flexible (flex)
/// @parameter {string} $justify [center] - Legal values: flex-start | flex-end | center | baseline | stretch
@mixin align-items($justify:center) {
    -webkit-align-items: $justify;
    -moz-align-items: $justify;
    -ms-align-items: $justify;
    align-items: $justify;
}


/// Cambiar la dirección de los elementos
/// @parameter {string} $justify [row] - Values: row | row-reverse | column | column-reverse
@mixin flex-direction($direction:row) {
    -webkit-flex-direction: $direction;
    -moz-flex-direction: $direction;
    -ms-flex-direction: $direction;
    flex-direction: $direction;
}

/// Establece el factor de contracción flexible de un elemento flexible. Si el tamaño de los elementos flexibles es mayor que el contenedor flexible, los elementos se encogen para ajustarse de acuerdo con flex-shrink
/// @parameter {number} $shrink - Accepts a number.
@mixin flex-shrink($shrink) {
    -webkit-flex-shrink: $shrink;
    -moz-flex-shrink: $shrink;
    -ms-flex-shrink: $shrink;
    flex-shrink: $shrink;
}


@mixin flex-basis($basis) {
  -webkit-flex-basis: $basis;
  -moz-flex-basis: $basis;
  -ms-flex-basis: $basis;
  flex-basis: $basis;
}

/// Centrar vertical y horizontalmente los elementos de un contenedor flexible
@mixin center-content {
    @include justify-content(center);
    @include align-items(center);
}

/// Inicializa un pseudo elemento
/// @parameter {string} $display [block] - Tipo de display
/// @parameter {string} $content [''] - Texto a mostrar
@mixin pseudo-element($display: block, $content: '') {
    display: $display;
    content: $content;
}

/// Estilos para enlaces de menús o listas de enlaces en el sidebar derecho
@mixin links {
    @include transition(all 0.35s);
    display: inline-block;
    position: relative;
    font-size: 12px;
    font-weight: 700;
    padding: 10px;
    text-align: center;
    color: $black;
    font-family: $font-second;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    &:hover,
    &:after,
    &:active {
        color: $theme-color;
        &:before {
            @include opacity(1);
        }
    }
    &.is-active {
        color: $theme-color;
        &:before {
            @include opacity(1);
        }
    }
}

// Area brand to directory
@mixin position_directory($bgcolor, $fontsize, $padding) {
    color: $white;
    font-size: $fontsize;
    padding: $padding;
    margin: {
      top: 5px;
      bottom: 0;
    };
    background: $bgcolor;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;

    @media (max-width: $screen-sm) {
      margin-top: 0;
    }
}

// flecha del bloque del buscador
%rrow-search {
    @include absolute(bottom -25px left 50%);
    @include transform(rotate(-45deg) translateX(-50%));
    @include square(50px);
    @include transform-origin(left, center);
    border-left: 1px solid $theme-color;
    border-bottom: 1px solid $theme-color;
    background: $white;
    content: '';

    @media (max-width: $screen-sm) {
        @include square(30px);
        bottom: -15px;
    }
}

//linea vertical en el directorio
%vertical-line {
    display: block;
    background: $theme-color;
    content: '';
}
