/*
===========================================================
                        Mixins personalizados
===========================================================
*/


/*
* @function
* @return path img + img
*/

@function svg($img) {
    @return url($svg+$img+'.svg') no-repeat center / contain;
}


/*
* @mixin: links
* @description: links styles
*/

@mixin links {
    @include transition(all 0.35s);
    display: inline-block;
    position: relative;
    font-size: 12px;
    font-weight: 700;
    padding: 10px;
    text-align: center;
    color: $black;
    font-family: $font-second;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    &:hover,
    &:after,
    &:active {
        color: $theme-color;
        &:before {
            @include opacity(1);
        }
    }
    &.is-active {
        color: $theme-color;
        &:before {
            @include opacity(1);
        }
    }
}


/*
* @mixin: Center with flexbox
*/

@mixin align-items($justify) {
    -webkit-align-items: $justify;
    -moz-align-items: $justify;
    -ms-align-items: $justify;
    align-items: $justify;
}


/*
* @mixin: Flex direction
*/

@mixin flex-direction($direction) {
    -webkit-flex-direction: $direction;
    -moz-flex-direction: $direction;
    -ms-flex-direction: $direction;
    flex-direction: $direction;
}

/*
* @mixin: Flex shrink
*/

@mixin flex-shrink($shrink) {
    -webkit-flex-shrink: $shrink;
    -moz-flex-shrink: $shrink;
    -ms-flex-shrink: $shrink;
    flex-shrink: $shrink;
}

/*
* @mixin: Focus totally
*/

@mixin center-content {
    @include justify-content(center);
    @include align-items(center);
}


/*
* @mixin: Init pseudo elemento
*/

@mixin pseudo-element($display: block, $content: '') {
    display: $display;
    content: $content;
}
