@import "../mixins/mixins";
@import "../mixins/template";

/*
===========================================================
                        Custom mixins
===========================================================
*/


/*
* @function
* @return path img + img
*/

@function svg($img) {
    @return url($svg + $img + '.svg') no-repeat center / contain;
}


/*
* @mixin: links
* @description: links styles
*/

@mixin links {
    @include transition(all 0.35s);
    display: inline-block;
    position: relative;
    font-size: 12px;
    font-weight: 700;
    padding: 10px;
    text-align: center;
    color: $black;
    font-family: $font-second;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    &:hover,
    &:after,
    &:active {
        color: $theme-color;
        &:before {
            @include opacity(1);
        }
    }
    &.is-active {
        color: $theme-color;
        &:before {
            @include opacity(1);
        }
    }
}


/*
* @mixin: Center with flexbox
*/

@mixin align-items($justify) {
    -webkit-align-items: $justify;
    -moz-align-items: $justify;
    -ms-align-items: $justify;
    align-items: $justify;
}


/*
* @mixin: Flex direction
*/

@mixin flex-direction($direction) {
    -webkit-flex-direction: $direction;
    -moz-flex-direction: $direction;
    -ms-flex-direction: $direction;
    flex-direction: $direction;
}