/*
===========================================================
                        Variables personalizadas
===========================================================
*/

//-----------VARIABLES SASS
//-------- COLORS
//-------- COLOR --------------
$color_1: #3D99F1;
$color_2: #2A2A2A;
$color_3: #283646;
//-------- BORDERS
$border_1: 1px dashed $border-color;
// PATHS
$svg: $base-theme-image-path + '/svg/';
//-------- ARRAYS --------------
//-------- PIXELS/PERCENTAGE INTERVAL 5 TO 5
$numbers: 1,
2,
3,
4,
5,
10,
15,
20,
25,
30,
35,
40,
45,
50;
// -------- VARIABLES CSS
:root {
    --multiplier: 2;
}

@media (max-width: $screen-sm) {
     :root {
        --multiplier: 1;
    }
}