@import "./variables";
@import "./mixins";
// Global styles
.container-bg {
    margin-bottom: 40px;
}

// Header - topbar
.topbar {
    .topbar-left {
        >div {
            @media (max-width: $screen-xs) {
                float: none;
                text-align: center;
            }
        }
    }
    .topbar-right {
        @include flexbox;
        @include justify-content(flex-end);
        @media (max-width: $screen-xs) {
            @include justify-content(center);
        }
        ul {
            &.menu_rol,
            &.gva_topbar_menu {
                @include flexbox;
                margin: 0;
                li {
                    background: none;
                    margin: 0;
                    padding: 0;
                    margin-left: 10px;
                    a {
                        color: $theme-color-rgba;
                        &:hover {
                            color: darken($theme-color-rgba, 20%)
                        }
                    }
                }
            }
        }
    }
}

// Global margins and paddings for top and bottom
@each $number in $numbers {
    $multiplier: 2;
    @media (max-width: $screen-sm) {
        $multiplier: 1;
    }
    // Pixels
    .mt-#{ $number } {
        @include margin(top, calc(#{ $number }px * #{ $multiplier }))
    }
    .mb-#{ $number } {
        @include margin(bottom, calc(#{ $number }px * #{ $multiplier }));
    }
    .pt-#{ $number } {
        @include padding(bottom, calc(#{ $number }px * #{ $multiplier }));
    }
    .pb-#{ $number } {
        @include padding(top, calc(#{ $number }px * #{ $multiplier }))
    }
    // Percentage
    .mr-#{ $number } {
        @include margin(right, calc(#{ $number }% * 1));
    }
    .ml-#{ $number } {
        @include margin(left, calc(#{ $number }% * 1));
    }
    .pr-#{ $number } {
        @include padding(right, calc(#{ $number }% * 1));
    }
    .pl-#{ $number } {
        @include padding(left, calc(#{ $number }% * 1));
    }
}

// Images
.img-rounded img {
    @include border-radius(5px);
}

// Carousel
.owl-carousel .owl-item {
    // 768px
    @media (max-width: 767px) {
        text-align: center;
    }
}