@import "./variables";
@import "./mixins";
// Global styles
.container-bg {
    margin-bottom: 40px;
}

.topbar {
    .topbar-left {
        >div {
            @media (max-width: $screen-xs) {
                float: none;
                text-align: center;
            }
        }
    }
    .topbar-right {
        @include flexbox;
        @include justify-content(flex-end);
        @media (max-width: $screen-xs) {
            @include justify-content(center);
        }
        ul {
            &.menu_rol,
            &.gva_topbar_menu {
                @include flexbox;
                margin: 0;
                li {
                    background: none;
                    margin: 0;
                    padding: 0;
                    margin-left: 10px;
                    a {
                        color: $theme-color-rgba;
                        &:hover {
                            color: darken($theme-color-rgba, 20%)
                        }
                    }
                }
            }
        }
    }
}