@import "./variables";
@import "./mixins";

/*
===========================================================
                        Units pages
===========================================================
*/

// Menu main
.unidad-menu-principal {
    .gva-menu--units {
        @include flexbox;
        @include justify-content(center);
        @include flex-wrap(wrap);
        @include clear-list;
        margin-bottom: 50px;
        a {
            @include links;
        }
        @media (max-width: $screen-xs-max) {
            margin-bottom: 30px;
        }
    }
}

// Second menu
.unidad-menu-secundario {
    header {
        overflow: hidden;
    }
    .item {
        border-bottom: 1px dashed $border-color;
        a {
            @include links;
            text-align: left;
            padding-left: 0;
            padding-right: 0;
        }
    }
}


/*
===========================================================
                    End Units page
===========================================================
*/