@import "./variables";
@import "./mixins";
// Page programs
.programa-block-1 {
    @include flexbox;
    @include justify-content(center);
    @include align-items(center);
    @include flex-wrap(wrap);
    @media (max-width: $screen-xs) {
        @include flex-direction(column);
        @include align-items(flex-start);
    }
    .field--label-inline {
        @include flexbox;
        .field__label {
            font-weight: bold;
        }
        .field__item {
            margin: 0 5px;
        }
        @media (max-width: $screen-xs) {
            &.field--name-field-fecha-de-resolucion {
                @include flex-wrap(wrap);
                .field__item {
                    margin: 0;
                }
            }
        }
    }
}

.programa-block-2 {
    .field__label {
        font-weight: bold;
        margin: 10px 0;
        color: $color_2;
    }
}