@import "./variables";
@import "./mixins";
// Cards
.thumbnail--card {
    // Content card
    .thumbnail {
        @include box-shadow(0 0 18px 0 $shadow);
        padding: 0;
        // content card - image
        &,
        img {
            @include border-radius(8px);
        }
    }
    // Description
    .caption {
        padding: 20px;
    }
    // Title
    h5 {
        margin-top: 0;
    }
    // Summary
    .field--name-body {
        p {
            line-height: 20px;
            margin-bottom: 10px;
        }
    }
    // Date
    .field--name-node-post-date {
        font-size: 12px;
    }
}