{#
/**
 * @file
 * Default theme implementation for an item list.
 *
 * Available variables:
 *
 * @see template_preprocess_template_directory()
 *
 * @ingroup themeable
 */
#}
<div id="org-chart-canvas"></div>
<div class="progress-loader-icon"><img src="https://www.uniboyaca.edu.co/modules/custom/uboyaca_directory/images/uboyaca-isotipo.jpg" alt="Directorio Progress"></div>
