{#
/**
 * @file
 * Default theme implementation for an item list.
 *
 * Available variables:
 *
 * @see template_preprocess_template_directory()
 *
 * @ingroup themeable
 */
#}
<div id="org-chart-canvas"></div>
<div class="progress-loader-icon"><img src="https://www.uniagustiniana.edu.co/themes/gavias_edmix/logo.png" alt="Directorio Progress"></div>
