/*
===========================================================
                        Custom variables
===========================================================
*/
:root {
  --multiplier: 2;
}

@media (max-width: 768px) {
  :root {
    --multiplier: 1;
  }
}
/****/
/*
===========================================================
                        Custom mixins
===========================================================
*/
/*
* @function
* @return path img + img
*/
/*
* @mixin: links
* @description: links styles
*/
/*
* @mixin: Center with flexbox
*/
/*
* @mixin: Flex direction
*/
/*
* @mixin: Focus totally
*/
/*
* @mixin: Init pseudo elemento
*/
/*
===========================================================
                        Programs pages
===========================================================
*/
.programa-block-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media (max-width: 480px) {
  .programa-block-1 {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
    align-items: flex-start;
  }
}
.programa-block-1 .field--label-inline {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5px;
  margin-left: -1px;
}
.programa-block-1 .field--label-inline::before, .programa-block-1 .field--label-inline::after {
  display: block;
  content: "";
  width: 1px;
  height: 15px;
  margin-top: 5px;
  background: rgba(0, 0, 0, 0.2);
}
.programa-block-1 .field--label-inline:first-child {
  margin-left: 0;
}
.programa-block-1 .field--label-inline .field__label,
.programa-block-1 .field--label-inline .field__item {
  margin-left: 5px;
}
.programa-block-1 .field--label-inline .field__label {
  font-weight: bold;
}
.programa-block-1 .field--label-inline .field__item {
  margin-right: 5px;
}
@media (max-width: 480px) {
  .programa-block-1 .field--label-inline {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .programa-block-1 .field--label-inline::before, .programa-block-1 .field--label-inline::after {
    display: none;
  }
  .programa-block-1 .field--label-inline .field__label,
  .programa-block-1 .field--label-inline .field__item {
    margin: 0;
  }
  .programa-block-1 .field--label-inline .field__label {
    margin-right: 5px;
  }
}

.programa-block-2 .field__label {
  font-weight: bold;
  margin: 10px 0;
  color: #2A2A2A;
}

.block-believe-inyou .content {
  position: relative;
  z-index: 2;
}

/*
===========================================================
                        End programs pages
===========================================================
*/
