.form-contact .form-contact--header {
  background: #3D99F1;
}
.form-contact .form-contact--header.widget.gsc-heading .heading-line {
  display: none;
}
.form-contact .form-contact--wrapper {
  padding: 42px;
  background: #fff;
}
.form-contact .form-contact--wrapper textarea,
.form-contact .form-contact--wrapper input {
  border-radius: 3px;
}
.form-contact .form-contact--wrapper input {
  height: 50px;
}
