/*
===========================================================
                        Custom variables
===========================================================
*/
:root {
  --multiplier: 2;
}

@media (max-width: 768px) {
  :root {
    --multiplier: 1;
  }
}
/****/
/*
===========================================================
                        Custom mixins
===========================================================
*/
/*
* @function
* @return path img + img
*/
/*
* @mixin: links
* @description: links styles
*/
/*
* @mixin: Center with flexbox
*/
/*
* @mixin: Flex direction
*/
.landing-home .landing_faculties--title.widget.gsc-heading {
  padding: 40px 0 0;
}
.landing-home .landing_faculties--title.widget.gsc-heading .title {
  padding: 0;
}
.landing-home .landing_faculties--title.widget.gsc-heading .heading-line {
  width: 100%;
  height: 1px;
}
.landing-home .landing_faculties {
  padding: 0 20px;
}
.landing-home .landing_faculties .content-inner {
  margin-bottom: 10px !important;
  border: 1px solid #fff;
  min-height: auto;
  padding: 18px;
}
.landing-home .landing_faculties .item:last-child {
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: none;
  clear: both;
}
@media (max-width: 1200px) {
  .landing-home .landing_faculties {
    padding: 0;
  }
}
