/*
===========================================================
                        Custom variables
===========================================================
*/
:root {
  --multiplier: 2;
}

@media (max-width: 768px) {
  :root {
    --multiplier: 1;
  }
}
/****/
/*
===========================================================
                        Custom mixins
===========================================================
*/
/*
* @function
* @return path img + img
*/
/*
* @mixin: links
* @description: links styles
*/
/*
* @mixin: Center with flexbox
*/
/*
* @mixin: Flex direction
*/
/*
===========================================================
                        Units pages
===========================================================
*/
.unidad-menu-principal .gva-menu--units {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 50px;
}
.unidad-menu-principal .gva-menu--units a {
  -webkit-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
  -moz-transition: all 0.35s;
  -ms-transition: all 0.35s;
  display: inline-block;
  position: relative;
  font-size: 12px;
  font-weight: 700;
  padding: 10px;
  text-align: center;
  color: #000;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.unidad-menu-principal .gva-menu--units a:hover, .unidad-menu-principal .gva-menu--units a:after, .unidad-menu-principal .gva-menu--units a:active {
  color: #4582FF;
}
.unidad-menu-principal .gva-menu--units a:hover:before, .unidad-menu-principal .gva-menu--units a:after:before, .unidad-menu-principal .gva-menu--units a:active:before {
  opacity: 1;
  filter: alpha(opacity=100);
}
.unidad-menu-principal .gva-menu--units a.is-active {
  color: #4582FF;
}
.unidad-menu-principal .gva-menu--units a.is-active:before {
  opacity: 1;
  filter: alpha(opacity=100);
}
@media (max-width: 767px) {
  .unidad-menu-principal .gva-menu--units {
    margin-bottom: 30px;
  }
}

.unidad-menu-secundario header {
  overflow: hidden;
}
.unidad-menu-secundario .item {
  border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
}
.unidad-menu-secundario .item a {
  -webkit-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
  -moz-transition: all 0.35s;
  -ms-transition: all 0.35s;
  display: inline-block;
  position: relative;
  font-size: 12px;
  font-weight: 700;
  padding: 10px;
  text-align: center;
  color: #000;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  text-align: left;
  padding-left: 0;
  padding-right: 0;
}
.unidad-menu-secundario .item a:hover, .unidad-menu-secundario .item a:after, .unidad-menu-secundario .item a:active {
  color: #4582FF;
}
.unidad-menu-secundario .item a:hover:before, .unidad-menu-secundario .item a:after:before, .unidad-menu-secundario .item a:active:before {
  opacity: 1;
  filter: alpha(opacity=100);
}
.unidad-menu-secundario .item a.is-active {
  color: #4582FF;
}
.unidad-menu-secundario .item a.is-active:before {
  opacity: 1;
  filter: alpha(opacity=100);
}

.menu-block-unit .row-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 768px) {
  .menu-block-unit .row-wrapper {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.menu-block-unit .row-wrapper .gsc-column:first-child {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .menu-block-unit .row-wrapper .gsc-column:first-child {
    margin-bottom: 20px;
  }
}
.menu-block-unit .row-wrapper .gsc-column:last-child > .column-inner {
  height: 100%;
}
.menu-block-unit .row-wrapper ul {
  width: 100%;
  height: auto;
}
.menu-block-unit .row-wrapper ul a {
  color: #0a4c8b;
}
.menu-block-unit .row-wrapper ul a:hover {
  color: #6db2f4;
}
.menu-block-unit .row-wrapper ul a::after {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 10px;
  background: url("../images/svg/arrow-right.svg") no-repeat center/contain;
  content: '';
}
.lt-ie8 .menu-block-unit .row-wrapper ul a::after {
  display: inline;
  zoom: 1;
}

/*
===========================================================
                    End Units page
===========================================================
*/
