/*
===========================================================
                        Custom variables
===========================================================
*/
/****/
/*
===========================================================
                        Custom mixins
===========================================================
*/
/*
* @mixin: links
*/
.thumbnail--card .thumbnail {
  -webkit-box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.09);
  box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.09);
  padding: 0;
}
.thumbnail--card .thumbnail,
.thumbnail--card .thumbnail img {
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.thumbnail--card .caption {
  padding: 20px;
}
.thumbnail--card h5 {
  margin-top: 0;
}
.thumbnail--card .field--name-body p {
  line-height: 20px;
  margin-bottom: 10px;
}
.thumbnail--card .field--name-node-post-date {
  font-size: 12px;
}
